

// =============================================================================
// TYPOGRAPHY
// =============================================================================

// heading

%h {
    font-weight: 700;
}

%h1 {
    font-size: 2.5rem;

    @media (min-width: $bp-t) {
        font-size: 3rem;
    }

    @media (min-width: $bp-l) {
        font-size: 4rem;
    }
}

%h2 {
    font-size: 2.1875rem;
}

%h3 {
    font-size: 1.5rem;
}

%h4 {
    font-size: 1rem;
}

%h5 {
    font-size: 0.875rem;
}

%h6 {
    font-size: 0.8125rem;
}


h1, h2, h3, h4, h5, h6 {
    @extend %h;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

h6 {
    @extend %h6;
}


.h {
    @extend %h;


    &--1 {
        @extend %h1;
    }

    &--2 {
        @extend %h2;
    }

    &--3 {
        @extend %h3;
    }

    &--4 {
        @extend %h4;
    }

    &--5 {
        @extend %h5;
    }

    &--6 {
        @extend %h6;
    }


    // uppercase modification
    &--upper {
        text-transform: uppercase;
    }

    &--white {
        color: #fff;
    }

    // regular modification
    &--regular {
        font-weight: 400;
    }
}




// paragraph
%paragraph {
    font-size: 0.875rem;
    line-height: 1.72em;
    letter-spacing: 0.04em;
}

p {
    @extend %paragraph;
}

.txt {
    @extend %paragraph;

    // gray
    &--gray {
        color: #999;
    }
}



// links
a {
	color: inherit;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

// end TYPOGRAPHY
