

// =============================================================================
// VISUALLY HIDDEN
// =============================================================================

@mixin visually-hidden {
    height: 1px;
    width: 1px;
    border: 0;
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
}

// end VISUALLY HIDDEN