<!-- Menu -->
<ul class="menu">
    <li class="menu__item">
        <a class="menu__link" href="#">Home</a>
    </li>

    <li class="menu__item menu__item--has-child">
        <a class="menu__link" href="#choose-us">Choose us</a>

        <ul class="sub-menu sub-menu--close">
            <li class="sub-menu__item">
                <a class="sub-menu__link" href="#">Name Surname</a>
            </li>

            <li class="sub-menu__item sub-menu__item--has-child">
                <a class="sub-menu__link" href="#">Nelson Noa Chris</a>

                <ul class="sub-menu sub-menu--close">
                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Name Surname</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Nelson Noa Chris</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Name Surname</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Nelson Noa</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu__item">
                <a class="sub-menu__link" href="#">Name Surname</a>
            </li>

            <li class="sub-menu__item sub-menu__item--has-child">
                <a class="sub-menu__link" href="#">Nelson Noa</a>

                <ul class="sub-menu sub-menu--close">
                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Name Surname</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Nelson Noa Chris</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Name Surname</a>
                    </li>

                    <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">Nelson Noa</a>
                    </li>
                </ul>
            </li>
        </ul>

    </li>

    <li class="menu__item">
        <a class="menu__link" href="#about">About</a>
    </li>

    <li class="menu__item">
        <a class="menu__link" href="#contact">Contact</a>
    </li>
</ul>
<!-- end Menu -->
